#div-competences-image {
    width: 400px;
    height: 650px;
    object-fit: cover;
}

#div-competences-texte {

    padding: 0 100px;
    /* border-bottom: 2px solid #5336b6; */
    text-align: left;

}

#div-competences-texte h1 {
    margin: 15px 0;
    color: #5336b6;
    padding: 15px 0;
    border-bottom: 2px solid #5336b6;

}

#div-competences-texte p {
    line-height: 39px;
    font-weight: 500;
    font-size: 18px;

}

@media(max-width:600px) {

    #div-competences-image,
    #div-competences-texte {
        padding: 10px;
        margin: 10px auto;
        width: 90vw;
    }

}