img{
    width: 400px;
    height: 650px;
    object-fit: cover;
}

.flex-row{
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
}

#div-competences{

    padding: 0 100px ;
    //border-bottom: 2px solid #5336b6;
    text-align: left;


    h1 {
        margin: 15px 0;
        color: #5336b6;
        padding: 15px 0;
    border-bottom: 2px solid #5336b6;

    }

    p {
        line-height: 39px;
        font-weight: 500;
        font-size: 18px;

    }
}