.div-formation {
    padding: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  //  height: calc(100vh - 56px ) !important;
    
    h2 {
        text-align: center;
        padding-bottom: 45px;
    }

    .une-formation {
        margin: 20px 0;
        border-bottom: 3px solid #5336b6;

        * {
            margin: 12px 0;
            font-size: 18px;
        }

        #annee {
            font-weight: 700;
            color: #987f9c;
            color: #5336b6;
            /* text-decoration: underline; */
        }

        #nom-formation {
            font-weight: 700;
            font-size: 20px;
        }

        #ecole-lieu {
            font-weight: 300;
        }

        
    }
}
