.div0 {

    background-color: #171717;
    background-color: #f1f1f1;
    padding: 40px 15px;
    flex: 100%;
    height: auto;
}

.div0 .div-whoIam {
    text-align: center;
}

.div0 .div-whoIam p {
    color: var(--color1);
    font-size: 19px;
    margin: 15px 0;
}

.div0 .div-whoIam h2,
.div0 .div-whoIam h3 {
    color: var(--color2);
    font-weight: 900;
    margin: 15px 0;
    font-size: xx-large;
}

.div0 .div-whoIam h3 {
    color: white;
    color: #171717;

}

.div0 .div-whoIam div button {
    margin: 20px 15px 25px 0;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    background-color: var(--color2);
    color: white;
    font-weight: 600;
    font-size: 20px;
}


.div0 .div-whoIam div button:first-child {

    border: 1px solid var(--color2);
    background-color: white;
    color: var(--color2);

}



.div-my-photo {
    text-align: center;
    display: block;


}

.div-my-photo img {

    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}





.div-about-me {

    /* background-image : url("./assets/web.jpg"); */
    padding: 10px 50px;
    width: 100vw;
    margin: 0 auto;
    box-sizing: border-box;
}

.div-about-me .div-about-me-item {
    width: 300px;
    /* height: 400px; */
    color: #252525;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    font-size: 16px;

}

.div-about-me .div-about-me-item h2 {
    margin: 15px 0;
    text-align: center;
    color: #5336b6;
    font-weight: 800;
    font-size: 22px;

}

.div-about-me .div-about-me-item p {
    margin: 7px auto;
    font-size: 16px;
}

.div-about-me .div-about-me-item * {
    text-align: center;
    color: #242424;
    font-size: 16px;
    margin: 0 auto;

}





.liste {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.liste .item {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    font-size: 16px;
    color: #242424;
}

.liste .item svg {
    color: #987f9c !important;
    margin: 0 5px;
    color: white;
}