.div0 {
    padding: 0;
    margin:0;
    height: 100vh;

   
}

.div0 .image{
    width: 50vw;
    background-image: url("https://www.richardekwonye.com/images/intelia-cover.jpg");
    background-attachment: fixed;
    background-position: center;
    object-fit: cover;
    top:0;
    right:0;
    background-size: 100%;
   background-repeat: no-repeat;
}

.div0 .div-ME h1{
   font-size: 4.5rem;
   line-height: 120px;
   text-transform: uppercase;
   font-family:  /*"Lucida Console",*/ "Courier New", monospace; 
}

.div0 .div-ME {
    width: 50vw;
    text-align: center;
}

.div0 .div-ME p {
    color: var(--color1);
    font-size: 19px;
    margin: 15px 0;
}

@media (max-width : 800px ){
    
    .div0 {
        height: auto;
    }
    .div0 .image{
        width: 0;
    }
    
    .div0 .div-ME {
        width: 100vw;
    }
}

h2, h3 {
    color: var(--color2);
    font-weight: 900;
    margin: 50px ;
    text-align: center;
    font-size: xx-large;
}
.div0 .div-whoIam h2,
.div0 .div-whoIam h3 {
    color: var(--color2);
    font-weight: 900;
    margin: 15px 0;
    font-size: xx-large;
}

.div0 .div-whoIam h3 {
    color: white;
    color: #171717;

}

.div0 .div-whoIam div button {
    margin: 20px 15px 25px 0;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    background-color: var(--color2);
    color: white;
    font-weight: 600;
    font-size: 20px;
}


.div0 .div-whoIam div button:first-child {

    border: 1px solid var(--color2);
    background-color: white;
    color: var(--color2);

}



.div-my-photo {
    text-align: center;
    display: block;


}

.div-my-photo img {

    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}







.conception-logo img{
    width:250px;
    height:250px;
}
#carouselExampleInterval{
    width: 250px;
    text-align: center;
    margin: 10px auto;
}


.loisir img{
    width: 350px;
    height: 520px;
    object-fit:cover;
}

.loisir .un-loisir{
    margin: 15px;
    position: relative;
}

.loisir .un-loisir p{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate( -50%, 0);
    color: white;
    background-color: #5336b6;
    background-color:  #605583;
    padding: 7px 15px ;
    font-size: larger;
}

.loisir .un-loisir:hover p{
    color: #5336b6;
    background-color:white ;
    border: 1px solid #5336b6;
    transition-duration: 1.4s;
}