#projetsweb{
    background-color: #38373a;
    padding: 40px 0;
    box-sizing: border-box;
}

#projetsweb h2{
    color: whitesmoke;
    font-weight: 800;
    margin: 30px;
    text-align: center;
    font-size: 30px;
}

.pagination{
    margin: 10px auto;
    display: flex ;
    align-items: center;
    justify-content: center;
}

 .pagination li{
     margin : 5px;
 }

  
.projets {
    width: 100vw;
         display:flex;
        align-items:center;
        justify-content: center;
        flex-wrap : wrap;
        flex-direction : row;
    }

.projets .projets-item {
    /* border-radius: 10px 10px 0 0; */
    font-size: 20px;
    padding: 0px;
    margin: 25px;
    width: 600px;
    height: 420px;
    background-color: whitesmoke;
    /* box-shadow: 8px 8px 8px 9px #e7e7e7; */
    .text-bg-info {
        color: #605583 !important;
        background-color: white !important;
        border: 1px solid #605583 !important;
        padding: 7px 15px;
    }
    
    .text-bg-warning {
        color: white !important ;
        background-color: #605583 !important;
        padding: 7px 15px;

    }

}



.projets .projets-item video,
.projets .carousel {
    width: 100%;
    height: 320px;
    /* border-radius: 10px 10px 0 0; */
}

.projets .projets-item img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-bottom: 1px solid #888;
}

.expand {
    position: fixed;
    width: 90vw !important;
    height: auto !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    z-index: 1;
    font-weight: 100;
    background-color: white;
    color: #4b4f53;
    margin: 0 !important;
}

.expand .bi .bi-arrows-angle-expand {
    display: none;
}

.expand video,
.expand img,
.expand .carousel {


    width: 90vw !important;
    height: auto !important;

}



.projets .projets-item .titre-projet {
    height: 100px;
    padding: 15px;
}

.projets .projets-item .titre-projet * {
    margin: 0 15px;
}

.projets .projets-item .titre-projet button {
    border: none;
    padding: 10px 5px;
    background-color: transparent;
}

@media(max-width:650px) {
    .projets .projets-item {
        margin: 40px 10px;
        width: 95vw !important;

    }

    .projets .projets-item,
    .projets .projets-item .titre-projet {
        height: auto;
        width: auto;
    }
}